<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Twitter Streaming API settings.  Replace Twitter OAuth settings with your own -->
    <add key="oauth_consumer_key" value="k0xIs31Jxx1UIL5nMwvdGFIdW" />
    <add key="oauth_consumer_secret" value="z2oVR2jgkE892UaV05iXldGQPcuoUR8Wf56X1oOiVgxniEjGWD" />
    <add key="oauth_token" value="3355436925-vccU5RvGkFSI6LOBnryJLSphVQw99hiXYy6Hal0" />
    <add key="oauth_token_secret" value="8Nh0dDCxfRzuXiduTdjBEuaeoXCIIJl7UT03O4vq1Vam2" />
    
    <!-- Enter keywords, hashtags, or handles here.  Use comma to separate multiple entries -->
    <add key="twitter_keywords" value="SWCEvent,BIMeetup,SWCTech,SWCTechPartners,SWCTechnologyPartners,SWC,Google,Microsoft,Twitter,Facebook,GitHub"/>
    
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Endpoint=sb://twitter-stream-event-hub-ns.servicebus.windows.net/;SharedAccessKeyName=Twitter-Stream-Access-Policy;SharedAccessKey=BIbQGrxpJOTS5FPaNwg8C3ompcEjt44juj4JddPj4fw=" />
    <add key="EventHubName" value="twitter-stream-event-hub"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>